@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   box-sizing: border-box;
}

:root {
   --main: #e3b626;
   color-scheme: dark;
}

.primary-color {
   color: var(--main);
}

.primary {
   background-color: var(--main);
}

::selection {
   background-color: var(--main);
   color: white;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   height: 100%;
   padding: 0;
   overflow-x: hidden;
   overflow-y: scroll;
}

.custom-button {
   background-color: #E3B626;
   color: white;
   position: relative;
   border-radius: 4px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
   font-weight: 500;
   margin: 0;
   font-size: 20px;
   padding: 16px 26px;
}

.main-container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   overflow: hidden;
   background-color: white;
   color: black;
}


.main-slider-content {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: auto;
   flex-direction: column;
}

.main-slider-content h1 {
   margin-top: 160px;
}


.grad {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.grad-footer {
   background: linear-gradient(74.72deg, #000000 0%, #28251b 98.65%);
}

.grad-slider {
   background: linear-gradient(74.72deg, #000000 0%, #28251b 98.65%);
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.title {
   max-width: 1400px;
   width: calc(100% - 20px);
   font-size: 56px;
   font-weight: 700;
   line-height: 68px;
   color: #241D1D;
}

.description {
   margin-top: 20px;
   max-width: 1400px;
   width: calc(100% - 20px);
   font-size: 24px;
   color: #241D1D;
   font-weight: 300;
   line-height: 29px;
}