/* ----------Media queries---------- */

/* Main page */


@media screen and (max-width: 900px) {

    .review-element {
        margin: 40px 20px;
    }

    .line {
        height: 2px;
        width: calc(100% - 2px);
        background-color: white;
        border-radius: 2px;
        transition: 400ms ease;
        transform-origin: right;
    }
}

@media screen and (max-width:800px) {
    .title {
        font-size: 40px;
        line-height: 48px;
    }

    .description {
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 600px) {
    .main-text {
        font-size: 30px;
        line-height: 36px;
    }

    .main-paragraph {
        font-size: 20px;
        line-height: 28px;
    }

    .custom-button {
        font-size: 16px;
        padding: 6px 12px;
    }
}




/* Gallery page */


@media screen and (max-width: 1200px) {
    .gallery-container {
        columns: 2;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .gallery-container {
        columns: 1;
    }
}