/* ----------Media queries---------- */

/* Main page */
@media screen and (max-width:1400px) {
    .main-slider-content h1 {
        width: calc(100% - 100px);
        margin-top: 50px;
    }

    .main-slider-content p {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 1200px) {
    .card-absolute-element {
        height: auto;
    }
}

@media screen and (max-width: 900px) {

    .review-element {
        margin: 40px 20px;
    }

    .line {
        height: 2px;
        width: calc(100% - 2px);
        background-color: white;
        border-radius: 2px;
        transition: 400ms ease;
        transform-origin: right;
    }

    .nav-ham {
        position: absolute;
        top: 34px;
        right: 34px;
        width: 32px;
        height: 32px;
        z-index: 1;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
    }
}

@media screen and (max-width:800px) {
    .main-slider-content h1 {
        font-size: 40px;
        line-height: 48px;
        width: calc(100% - 40px);
    }

    .main-slider-content p {
        width: calc(100% - 40px);
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 600px) {
    .main-text {
        font-size: 30px;
        line-height: 36px;
    }

    .main-paragraph {
        font-size: 20px;
        line-height: 28px;
    }

    .custom-button {
        font-size: 16px;
        padding: 6px 12px;
    }

    .card-absolute-element {
        padding: 20px 30px;
        margin: 0 30px;
    }
}




/* Gallery page */


@media screen and (max-width: 1200px) {
    .gallery-container {
        columns: 2;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .gallery-container {
        columns: 1;
    }
}


/* CustomForm */

@media screen and(max-width: 1200px) {
    .form {
        width: calc(100% - 50px);
        justify-content: center;
    }
}