.main {
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../../assets/404.webp");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainText {
    font-weight: 900;
    text-align: center;
    font-style: normal;
    font-size: 64px;
    line-height: 78px;
}

.element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    width: 1000px;
    height: 600px;
    background-image: url("../../assets/404-map.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errorCode {
    font-size: 308px;
    line-height: 308px;
    color: #373737;
    font-weight: 800;
    font-style: normal;
}

.description {
    text-align: center;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #241D1D;
    width:700px;
    max-width: 100%;
}

.buttonText {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FCFBFA;
    margin: 0 50px;
}


/*Media Queries */


@media screen and (max-width:1200px) {

    .errorCode {
        font-size: 300px;
        line-height: 300px;
    }

    .description {
        font-size: 20px;
    }

    .photo {
        height: auto;
        width: calc(100% - 40px);
    }
}

@media screen and (max-width:700px) {
    .mainText {
        font-size: 32px;
        line-height: 38px;
    }
    .main {
        height:30vh;
        background-image: url("../../assets/404-phone.webp");
    }

    .errorCode {
        font-size: 200px;
        line-height: 200px;
    }

    .description {
        font-size: 16px;
    }
}

@media screen and (max-width:500px) {
    .errorCode {
        font-size: 150px;
        line-height: 150px;
    }

    .description {
        font-size: 14px;
        width:80%;
    }
    .buttonText {
        margin:0 20px;
    }
}