.main {
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../../assets/contact.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainText {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    text-align: center;
    font-weight: 400;
    line-height: 80px;
}


.pageFlex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    background-image: url("../../assets/404-map.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contactFlex {
    display: flex;
    align-items: flex-start;
    justify-content: flex;
    flex-direction: column;
    color: black;
    max-width: 600px;
}

.containerFlex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0;
}

.circle {
    background-color: #F9CB38;
    width: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.span {
    font-weight: 300;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 26px;
    line-height: 32px;
}

.img {
    width: 35px;
    height: auto;
    object-position: center;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    width: 70%;
    text-align: left;
    margin-top: 160px;
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    color: #241D1D;
}

.paragraph {
    width: 70%;
    text-align: left;
    margin-top: 40px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #241D1D;
}

.form {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 80px;
}

.image {
    margin: 0 32px;
    width: 60%;
}

/* Media Queries */


@media screen and (max-width:1400px) {
    .text {
        width: calc(100% - 100px);
        margin-top: 50px;
    }

    .paragraph {
        width: calc(100% - 100px);
    }

    .form {
        width: calc(100% - 100px);
    }
}


@media screen and (max-width:1200px) {
    .form {
        flex-direction: column;
        align-items: center;
    }

    .image {
        width: calc(100% - 50px);
        margin: 16px 32px;
    }

    .contactFlex {
        max-width: 100%;
        width: 100%;
    }
}


@media screen and (max-width:1100px) {
    .mainText {
        font-size: 48px;
        line-height: 54px;
    }

    .pageFlex {
        flex-direction: column;
    }

    .contactFlex {
        margin-top: 20px;
    }
}

@media screen and (max-width:800px) {

    .text {
        font-size: 40px;
        line-height: 40px;
        width: calc(100% - 40px);
    }

    .paragraph {
        width: calc(100% - 40px);
        font-size: 16px;
        line-height: 20px;
    }

    .mainText {
        font-size: 32px;
        line-height: 36px;
    }

    .circle {
        width: 50px;
        margin-right: 5px;
    }

    .img {
        width: 20px;
    }

    .span {
        font-size: 18px;
    }
}

@media screen and (max-width:600px) {

    .form {
        margin-top: 32px;
        width: calc(100% - 20px);
    }

    .image {
        width: 100%;
    }
}