.scrollContainer {
    margin-top: 192px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.scrollElement {
    width: 1700px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.scrollElement .scrollImg {
    width: 1700px;
    height: 800px;
    left: 0;
    object-fit: cover;
    position: absolute;
    object-position: center;
    transition: 3000ms ease-in;
}
.scrollTextContainer {
    transition: 2000ms ease-in;
    z-index: 1;
    top: 0; 
    position: absolute;
    left: 0;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.scrollText {
    font-size: 48px;
    line-height: 48px;
    color: black;
}


@media screen and (max-width:600px) {
    .scrollText {
        font-size: 36px;
        line-height: 40px;
    }
    .scrollElement {
        height:600px;
    }
    .scrollImg {
        height:600px;
    }
}